.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
src/config_override.h

PCB/_autosave-NixieClock.kicad_pcb

PCB/Export/

PCB/NixieClock-backups/

PCB/rescue-backup/
